<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Mail App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <!-- endbuild -->

  </head>
  <body>
    <div class="container">
        <fieldset>
            <form action="/" method="post">
              <input name="contactName" type="Name" class="ghost-input" placeholder="Enter your name" required>
<<<<<<< HEAD
              <input name="contactEmail" type="email" class="ghost-input" placeholder="Enter your email address" required> 
=======
              <input name="contactEmail" type="email" class="ghost-input" placeholder="Enter your email address" required>  
>>>>>>> adf55fdffe183681d2452bea1689b93614daf5d9
              <textarea name="textEmail" rows="5" type="text" class="ghost-input" placeholder="Type your message here" required></textarea>
              <input type="checkbox" name="checkbox">Are you sure you want to send this?<br>
              <input type="submit" class="ghost-button">
              <script src="https://www.google.com/recaptcha/api.js?render=6Lc7odEUAAAAAM_Pk5wvaL5v9Q47mUhz3-QVt83h"></script>
              <script>
              grecaptcha.ready(function() {
                  grecaptcha.execute('6Lc7odEUAAAAAM_Pk5wvaL5v9Q47mUhz3-QVt83h', {action: 'homepage'})
                    .then(function(token) {
                      let data = {token: token}
                      fetch('/captcha', {
                        headers: {'Content-Type': 'application/json', 'Content-Type': 'application/json'},
                        method: 'POST',
                        body: JSON.stringify(data),
                      })
                  });
              });
              </script>
            </form>
          </fieldset>
    
<<<<<<< HEAD
      <p>made by: <a href="https://twitter.com/pupperpuppy">gabe</a></p>
=======
      <p>made by <a href="https://twitter.com/pupperpuppy">me.</a></p>
>>>>>>> adf55fdffe183681d2452bea1689b93614daf5d9
        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
