<html>
  <head>
    <meta charset="utf-8">
    <title>Mail App</title>
  </head>
  <body>
      <h1>Your message has been sent! You will get a response ASAP. Thank you!</h1>
      <script>
        setTimeout(function () {
           // after 2 seconds
           window.location = "/";
        }, 3500)
      </script>
</body>
</html>
